@font-face {
    font-family: 'GothamMedium';
    src: url('material/GothamMedium_1.ttf');
  }

body {
    background-color: black;
    font-family: 'GothamMedium', sans-serif;
}

.topBar {
    height: 45px;
    width:99%;
    position: fixed;
    top: 0%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.topBarLeft {
    width: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 10px;
}

.spotilytics{
    margin: auto;
    color: white;
    font-size: 22px;
    margin: auto;
    padding-top: 12px;
}

.backtotop {
    color: white;
    font-family: 'GothamMedium', sans-serif;
    font-size: 22px;
    text-align: right;
    padding-right: 10px;
    padding-top: 12px;
}
.backtotop:hover{
    color: #1CD760;
}


.topBarRight:active{
    color: gray;
}

.intro {
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 0px);
}

.logo_spotify {
    width: 30px;
    padding-left: 5px;
}




.vinilos {
    background-color: #6C00BA;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 45px );
}



.grafico1 {
    background-color: #1CD760;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 45px);
}




#top{
    color: white;
    padding-top: 100px;
}

img {
    width: 200px;
}

*{
    padding: 0;
}