body {
    background-color: black;
}

.topBar {
    height: 30px;
    background-color: #1CD760;
}


.intro {
    /* background-color: #6C00BA; */
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 30px);
}
.vinilos {
    background-color: #6C00BA;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) );
}

.logo_spotify {
    width: 50px;
    padding-left: 5px;
}


.grafico1 {
    background-color: #1CD760;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 63px);
}