body {
    background-color: black;
}

.topBar {
    height: 63px;
    background-color: black;
}

.topBar-left {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    gap: 20px;
}

.intro {
    background-color: #6C00BA;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 63px);
}

.logo_spotify {
    width: 40px;
}

.top_title {
    color: white;
}

.grafico1 {
    background-color: #0FD760;
    min-height: calc(calc(var(--vh, 1vh) * 100 ) - 63px);
}
